{$DOMAIN} {
  encode zstd gzip
  root * {$UI_DIST_ROOT}

  @api path /api/* /healthz
  handle @api {
    reverse_proxy 127.0.0.1:8787
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
