module.exports = {
  apps: [
    {
      // Default app name: agent-studio-api
      name: "__PM2_APP_NAME__",
      cwd: "__APP_API_DIR__",
      script: "dist/index.js",
      interpreter: "node",
      instances: 1,
      exec_mode: "fork",
      autorestart: true,
      max_restarts: 10,
      env: {
        NODE_ENV: "production",
        HOST: "__API_HOST__",
        PORT: "__API_PORT__"
      }
    }
  ]
};
